footer {
    text-align: center;
    padding: 5px;
    border-top: 1px solid #ddd;
    font-size: 0.9rem;
    color: #555;
    margin-top: 40px;
}

footer a {
    display: block;
    margin: 8px 0;
    color: var(--secondary-color);
    text-decoration: none;
    transition: color 0.3s ease;
}

footer a:hover {
    color: var(--hover-color);
}

footer hr {
    margin: 20px 0;
    border: none;
    height: 1px;
    background-color: #eee;
}


.social-icons a {
    display: inline-block;
    margin: 0 8px;
    color: var(--secondary-color);
    font-size: 1.2rem;
    text-decoration: none;
    transition: color 0.3s ease;
}
