{% extends "base.html" %}
{% block title %}🔍 Добавить группы / каналы{% endblock %}
{% block content %}
</br>
<h3>🔍 Добавить группы / каналы</h3>
<label for="save-username">Введите username группы / канала, например: @username:</label>
<textarea id="save-username" rows="4" placeholder="Пример: @username"></textarea>
<button onclick="saveUsername()">Сохранить</button>

<script>
    async function saveUsername() {
        const inputField = document.getElementById("save-username");
        const save_username = inputField.value.trim();

        if (!save_username.startsWith("@")) {
            alert("Username должен начинаться с @");
            return;
        }

        try {
            const formData = new FormData();
            formData.append("username_chat_channel", save_username);

            const response = await fetch("/save-username", {
                method: "POST",
                body: formData,
            });

            if (!response.ok) {
                throw new Error(`Ошибка сервера: ${response.status}`);
            }

            const result = await response.json();

            if (result.success) {
                inputField.value = "";
                alert("Группа / канал успешно добавлена!");
            } else {
                alert("Ошибка при добавлении: " + result.error);
            }
        } catch (error) {
            console.error("Ошибка:", error);
            alert("Не удалось сохранить группу / канал.");
        }
    }
</script>

{% endblock %}