<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Ограничение по подписке на канал</title>
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <link rel="stylesheet" href="/scr/app/static/css/styles.css">
</head>
<script>
    //кнопка назад
    const tg = window.Telegram.WebApp;
    tg.BackButton.show();

    tg.BackButton.onClick(() => {
        tg.expand(); // Убедимся, что expand() сработает
        setTimeout(() => {
            window.history.back();
        }, 0);
    });
</script>
<body>
<div class="container">
    <h1>Ограничение по подписке на канал</h1>
    <!-- Ограничение по подписке на канал -->
    <div class="section">
        <h2>Ограничение по подписке на канал</h2>
        <label for="groups-selected">Выберите группу, которую хотите ограничить:</label>
        <select id="groups-selected">
            <option value="">-- Выберите группу --</option>
        </select>
        <label for="groups-selecteds">Выберите группу / канал, на которую нужно подписаться:</label>
        <select id="groups-selecteds">
            <option value="">-- Выберите группу --</option>
        </select>
        <button onclick="toggleSubscriptionRequirement()">Включить подписку</button>
    </div>
    <a href="/" class="btn">Назад в админ-панель</a>
</div>
<script src="/scr/app/static/js/admin.js"></script>
</body>
</html>