{% extends "base.html" %}
{% block title %}🚫 Фильтр запрещённых слов{% endblock %}
{% block content %}
</br>
<!-- Фильтр запрещённых слов -->
<h3>🚫 Фильтр запрещённых слов</h3>
<label for="bad-words">Введите запрещённое слово или словосочетание:</label>
<textarea id="bad-words" rows="4" placeholder="Пример: плохое слово"></textarea>
<button onclick="saveBadWords()">Сохранить</button>
<a href="/" class="btn">Назад в админ-панель</a>

<script>


    // Сохранение запрещённых слов в базу данных
    async function saveBadWords() {
        const inputField = document.getElementById("bad-words");
        const bad_word = inputField.value.trim();

        try {
            const response = await fetch(
                `/set-bad-words?bad_word=${encodeURIComponent(bad_word)}`
            );
            const result = await response.json();

            // Очистить поле ввода
            inputField.value = "";

            // Показать сообщение пользователю
            alert("Запрещённое слово успешно сохранено!");
        } catch (error) {
            console.error("Ошибка:", error);
            alert("Не удалось сохранить запрещенные слова.");
        }
    }

</script>
{% endblock %}