<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Выдать пользователю особые права в группе</title>
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <link rel="stylesheet" href="/scr/app/static/css/styles.css">
</head>

<script>
    //кнопка назад
    const tg = window.Telegram.WebApp;
    tg.BackButton.show();

    tg.BackButton.onClick(() => {
        tg.expand(); // Убедимся, что expand() сработает
        setTimeout(() => {
            window.history.back();
        }, 0);
    });
</script>

<body>
<div class="container">
    <h1>Выдать пользователю особые права в группе</h1>
    <!-- Выдать пользователю особые права в группе -->
    <div class="section">
        <h2>Выдать пользователю особые права в группе</h2>
        <label for="groups-select-privilage">Выберите группу в которой нужнодать особые права:</label>
        <select id="groups-select-privilage">
            <option value="">-- Выберите группу --</option>
        </select>
        <label for="user-id-privilege">Введите id пользователя. Что бы получить id пользователя, можете ответить на
            сообщение в группе / чате с ботом, командой /id. Бот отправит id в личное сообщение бота:</label>
        <textarea id="user-id-privilege" rows="4" placeholder="Пример: 123456789"></textarea>
        <button onclick="givePrivilege()">Дать особые права</button>
        <a href="/" class="btn">Назад в админ-панель</a>
    </div>

</div>
<script src="/scr/app/static/js/admin.js"></script>
</body>
</html>