<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
    <component name="AutoImportSettings">
        <option name="autoReloadType" value="SELECTIVE"/>
    </component>
    <component name="ChangeListManager">
        <list default="true" id="1ef48ec5-1b73-43ef-a29b-ab4cf5df48b6" name="Changes"
              comment="Формирование функций:&#10;&quot;🔍 Добавить группы / каналы для отслеживания&quot;, &quot;❓ Помощь по работе с админ-панелью&quot;."/>
        <option name="SHOW_DIALOG" value="false"/>
        <option name="HIGHLIGHT_CONFLICTS" value="true"/>
        <option name="HIGHLIGHT_NON_ACTIVE_CHANGELIST" value="false"/>
        <option na