{% extends "base.html" %}
{% block title %}⚙️ Админ-панель{% endblock %}
{% block content %}
</br>
<div id="usercard" class="user-info"></div>
<p class="description">
    Добро пожаловать в <strong>админ-панель управления ботом</strong>. Здесь
    вы можете легко настраивать и поддерживать порядок в ваших группах и
    каналах.
</p>
<ul class="features">
    <li>
        <strong>Удобное отображение количества участников:</strong> следите за
        числом подписчиков.
    </li>
    <li>
        <strong>Ограничения на сообщения:</strong> запрет на отправку
        сообщений без подписки на канал.
    </li>
    <li>
        <strong>Фильтрация запрещённых слов:</strong> предотвращайте спам.
    </li>
    <li>
        <strong>Выдача особых прав:</strong> отдельные пользователи могут
        обходить ограничения.
    </li>
</ul>

Сделайте управление вашими чатами простым и эффективным. Настройки
помогут сохранить комфорт в любом сообществе.

</div>
<!-- Приветствие пользователей -->
<script src="/scr/app/static/js/greeting-users.js"></script>
{% endblock %}