<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Количество участников</title>
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <link rel="stylesheet" href="/scr/app/static/css/styles.css">
</head>
<script>
    //кнопка назад
    const tg = window.Telegram.WebApp;
    tg.BackButton.show();
    tg.BackButton.onClick(() => {
        tg.expand(); // Убедимся, что expand() сработает
        setTimeout(() => {
            window.history.back();
        }, 0);
    });
</script>
<body>
<div class="container">
    <h1>Количество участников</h1>
    <!-- Получение количества участников -->
    <div class="section">
        <h2>Количество участников</h2>
        <label for="group-select">Выберите группу:</label>
        <select id="group-select">
            <option value="">-- Выберите группу --</option>
        </select>
        <button onclick="getParticipants()">Получить количество участников</button>
        <p id="participants-count" class="status"></p>
    </div>
    <a href="/" class="btn">Назад в админ-панель</a>
</div>
<script src="/scr/app/static/js/admin.js"></script>
</body>
</html>