{% extends "base.html" %}
{% block title %}👥 Формирование групп{% endblock %}
{% block content %}
</br>
<h3>👥 Формирование групп</h3>
<!-- Статусы -->
{% if request.query_params.success %}
<div class="status success">Группа успешно сохранена!</div>
{% endif %}
{% if request.query_params.error %}
<div class="status error">Ошибка: группа не сохранена (возможно, уже существует).</div>
{% endif %}

<p>
    Это страница для формирования пользовательских групп.<br><br>
    Для дальнейшего взаимодействия с группами, нужно задать <strong>@username</strong> группы.
</p>

<!-- Форма добавления группы -->
<form action="/save-group" method="post" enctype="application/x-www-form-urlencoded">
    <label for="chat-username">Введите username группы или канала в виде @username:</label>
    <input type="text" id="chat-username" name="chat_username" placeholder="Например: @username"/>
    <button type="submit">Сохранить группу</button>
</form>

<hr class="my-8 h-px border-0 bg-gray-300"/>

<!-- Удаление группы -->
<section>
    <h3>Удаление группы</h3>
    <p>Выберите группу из списка и нажмите «Удалить»</p>
    <label for="group-select-del">Группа:</label>
    <select id="group-select-del">
        <option value="">-- Выберите группу --</option>
    </select>
    <button onclick="delGroup()">Удалить выбранную группу</button>
    <p id="delete-status" class="status"></p>
</section>

<hr class="my-8 h-px border-0 bg-gray-300"/>

<!-- Кнопка возврата -->
<a href="/" class="btn">Назад в админ-панель</a>

{% endblock %}